
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made by Ethan Rong</p>
  </div>
</div>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>

<script>
  if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
  }
</script>