<%- include('partials/header'); %>
<h1>Home</h1>

<div id="home-div">
    <button id="search-interview-btn" type="button" class="btn btn-primary home-button"><b>Search for interviews</b></button>
    <a href="/submit"><button type="button" class="btn btn-success home-button"><b>Submit an interview</b></button></a>

    <form class="mx-2 my-auto d-inline w-100" id="search-company-bar">
        <div class="input-group">
            <form class="mx-2 my-auto d-inline w-100">
           <input type="search" class="form-control" placeholder="Search" aria-label="Search">
            <span class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">GO</button>
            </span>
         </div>
     </form>
    
</div>
<%- include('partials/footer'); %>

<script>
    $(document).ready(function(){
        $("#search-interview-btn").click(function(){
            $("#search-company-bar").css("visibility", "visible");
        })
    })
</script>

