<%- include('partials/header'); %>
<h1 class="kek">Submit your recruitment experience</h1>
<hr>
<form action="" method="post">
    <div class="form-group">
        <div id="general">
            <label style="font-size: 2rem; display: block">General information</label>
            <label>Company name</label>
            <input class="form-control" type="text" name="company" required pattern="\S+" title="This field is required">
            <label>Applied position</label>
            <input class="form-control" type="text" name="companyRole" placeholder="E.g. Software Engineer Intern">
            <label>Year of application</label>
            <select name="yearpicker" id="yearpicker" class="form-control"></select>
        </div>
        
        <div id="interview">
            <hr>
            <label style="font-size: 2rem">Interview</label>
            <button type="button" class="btn btn-success block" id="interview-button">+</button>
            <div style="display: flex">
                <div style="width: 30%">
                    <p>Type of Interview</p>
                </div>
                <div class="interview-textarea" style="width: 70%">
                    <p>Interview questions</p>
                </div>
            </div>
            <div style="display:flex">
                <div style="width:30%">
                    <select name="interviewType1" class="form-control" id="exampleFormControlSelect1">
                        <option>Face to face interview</option>
                        <option>Video interview</option>
                        <option>Assessment center</option>
                        <option>Phone Interview</option>
                      </select>
                </div>
                <div style="width: 65%">
                    <textarea name="interviewQuestion1" class="interview-textarea form-control" id="" style="width: 100%" cols="10" rows="5" placeholder="- Why did you apply for x company?&#10- Why did you apply for x position?&#10&#10(Press enter to type on a new line)"></textarea>
                </div>
                <div style="width: 5%">
                </div>
            </div>           
        </div>

        <div id="experience">  
            <hr>
            <label style="font-size: 2rem; display: block">Program experience</label>

            <div id="salary">
                <label style="margin-bottom: 5px; display: block;">Yearly salary ($ AUD)</label>
                <input type="number"class="form-control" id="salaryResp" name="salaryResp" min="0" max="999999" data-bind="value:replyNumber" placeholder="60000" onkeydown="return event.keyCode !== 69"/>                  
            </div>

            <button type="button" class="btn btn-danger dont-know" id="salary-button">I don't know this program's salary</button>

            <div id="culture">
                <label style="margin-bottom: 5px">What was the culture like?</label>
                <textarea class="interview-textarea form-control" id="cultureResp" name="cultureResp" style="width: 100%" cols="10" rows="5" placeholder="I enjoyed/disliked my internship because..."></textarea> 
            </div>

            <button type="button" class="btn btn-danger dont-know" id="culture-button">I don't know this program's culture</button>
            
        </div>

    </div>
    <button class="btn btn-primary block" style="margin-top: 50px; width: 100%"><h4>Publish</h4</button>
</form>

<%- include('partials/footer'); %>

<!-- Add and remove interview quetsions -->
<script>
    var noOfInterviews = 1;

    $("#interview-button").click(function(){
        if (noOfInterviews < 4) {
            noOfInterviews += 1;
            var html_code = '<div style="display:flex"><div style="width:30%"> <select name="interviewType' + noOfInterviews + '" class="form-control" id="exampleFormControlSelect1"> <option>Face to face interview</option> <option>Video interview</option> <option>Assessment center</option> <option>Phone Interview</option> </select> </div><div style="width: 65%"><textarea name="interviewQuestion' + noOfInterviews + '" class="interview-textarea form-control" id="" style="width: 100%" cols="10" rows="5" placeholder="- Why did you apply for x company?&#10- Why did you apply for x position?"></textarea></div><div style="width: 5%"> <button type="button" class="btn btn-danger" ' + "onclick=buttonDelete(this); return false;'>-</button>"
            $('#interview').append(html_code);
        } else {
            alert("Maximum number of interviews are 4");
        }
    });

    function buttonDelete(link) {
        noOfInterviews -= 1;
        var row = link.parentNode.parentNode;
        var table = row.parentNode;
        table.removeChild(row);
    }
</script>

<!-- Add and remove program experience textboxes-->
<script>

    $("#salary-button, #culture-button").click(function(){

        var buttonClicked;
        var divId;

        if (this.id === "salary-button") {
            buttonClicked = "salary-button";
            divId = "salary"
        }
        else if (this.id === "culture-button") {
            buttonClicked = "culture-button";
            divId = "culture"
        }

        $('#' + divId).toggle("fast", "linear", function() {
            if($('#' + buttonClicked).hasClass("btn-danger")) {
                $('#' + buttonClicked).removeClass("btn-danger");
                $('#' + buttonClicked).addClass("btn-success");
                $('#' + buttonClicked).text("I know this program's " + divId);
            } else {
                $('#' + buttonClicked).removeClass("btn-success");
                $('#' + buttonClicked).addClass("btn-danger");
                $('#' + buttonClicked).text("I don't know this program's " + divId);
            }
        });
    });
    
</script>

<!-- Year dropdown -->
<script>
    for (i = new Date().getFullYear(); i > 1990; i--)
    {
    $('#yearpicker').append($('<option />').val(i).html(i));
    }
    /*
    $('#yearpicker').on('change', function() {
        var companyYear = this.value;
    })
    */
</script>


